<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Creator App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-dark font-weight-bold" style="margin-left: 10%; margin-right: 10%; font-size: 120%;">
            <a class="navbar-brand" href="/">Resume</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about">About&nbsp;Us</a>
                </li>    
              </ul>
            </div>  
          </nav>
          <div class="mt-5">
              <div class="row text-center pt-3">
                    <div class="col-sm-6 order-sm-12">
                      <div id="demo" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                          <li data-target="#demo" data-slide-to="0" class="active"></li>
                          <li data-target="#demo" data-slide-to="1"></li>
                          <li data-target="#demo" data-slide-to="2"></li>
                        </ul>
                        
                        <!-- The slideshow -->
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="background.jpg" alt="Los Angeles">
                          </div>
                          <div class="carousel-item">
                            <img src="background2.jpg" alt="Chicago">
                          </div>
                          <div class="carousel-item">
                            <img src="background.jpg" alt="New York">
                          </div>
                        </div>
                        
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                          <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                          <span class="carousel-control-next-icon"></span>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 order-sm-1">
                        <div class="" style="padding-top: 27%">
                            <h3 class="font-weight-bold" style="color: rgb(214, 248, 219);">Build Your Creative Resume Here!</h3>
                          <span style="padding: 20%; color: chartreuse;">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit id magna ut rhoncus
                          </span> <br> <br>
                          <a href="/login">
                          <button class="btn" style="background-color: rgb(144, 61, 229); color: cornsilk; border-radius: 20%; padding-left: 3%; padding-right: 3%;">Create Now!</button> </a>
                        </div>
                    </div>
              </div>
          </div>
    </div>
</body>
</html>